@model MvcSalesSystem.Models.EditProductSaleItem

        <div class="editor-label">
            @Html.LabelFor(model => model.Product)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model=>model.Product,(SelectList) ViewBag.Producte)
            @Html.ValidationMessageFor(model => model.Product)
            @Html.EditorFor(model => model.SaleSum)
            @Html.ValidationMessageFor(model => model.SaleSum)
        </div>