@model MvcSalesSystem.Models.EditProductItem

@{
    //ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Save", "Product", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Edit Product Item</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductName)
            @Html.ValidationMessageFor(model => model.ProductName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Barcode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Barcode)
            @Html.ValidationMessageFor(model => model.Barcode)
        </div>
        
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
