@model MvcSalesSystem.Models.EditManagerItem

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Save","Manager", FormMethod.Post)) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Create Manager Item</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ManagerName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ManagerName)
            @Html.ValidationMessageFor(model => model.ManagerName)
        </div>
        <p>
            <input type="submit" value="Create" /> | @Html.ActionLink("Back to List", "Index")
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
