@model IEnumerable<MvcSalesSystem.Models.ListManagerItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<h2>Index</h2>

 <div id="divEditManager"></div>

@if (User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>        
}

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ManagerName)
        </th>
        @if (User.IsInRole("admin"))
        {
            <th></th>
        }
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ManagerName)
        </td>
        @if (User.IsInRole("admin"))
        {
            <td>
                @Ajax.ActionLink("Edit", "Edit", new { id = item.Id }, new AjaxOptions() { HttpMethod = "Get", UpdateTargetId = "divEditManager", InsertionMode = InsertionMode.Replace }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        }
        
    </tr>
}
</table>