@{
    ViewBag.Title = "Accounts settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
    <p class="message-success">@ViewBag.StatusMessage</p>
</hgroup>

<article>
    <div id="divSpecial"></div>
</article>

<aside>
    <h3>Menu</h3>
    <ul>
        @if (User.IsInRole("admin"))
        {
            <li>@Ajax.ActionLink("Get all users", "GetUsers", new { }, new AjaxOptions() { HttpMethod = "Get", UpdateTargetId = "divSpecial", InsertionMode = InsertionMode.Replace })</li>
            <li>@Ajax.ActionLink("Register new user", "Register", new { }, new AjaxOptions() { HttpMethod = "Get", UpdateTargetId = "divSpecial", InsertionMode = InsertionMode.Replace })</li>
        }
        <li>@Ajax.ActionLink("Manage password", "Manage", new { }, new AjaxOptions() { HttpMethod = "Get", UpdateTargetId = "divSpecial", InsertionMode = InsertionMode.Replace })</li>
        
    </ul>
</aside>