@model MvcSalesSystem.Models.EditSalesItem

@using (Html.BeginForm("Edit", "Sales", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Edit Sale Item</legend>

        @Html.HiddenFor(model => model.Id)


        <div class="editor-label">
            @Html.LabelFor(model => model.Customer)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model=>model.Customer,(SelectList) ViewBag.Customers)
            @Html.ValidationMessageFor(model => model.Customer)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Product)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model=>model.Product,(SelectList) ViewBag.Producte)
            @Html.ValidationMessageFor(model => model.Product)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SaleDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SaleDate)
            @Html.ValidationMessageFor(model => model.SaleDate)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SaleSum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SaleSum)
            @Html.ValidationMessageFor(model => model.SaleSum)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Manager)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model=>model.Manager,ViewBag.Manager as SelectList)
            @Html.ValidationMessageFor(model => model.Manager)
        </div>
        <p>
            <input type="submit" value="Save" /> | @Html.ActionLink("Back to List", "Index")
        </p>
    </fieldset>
}
