@model MvcSalesSystem.Models.SalesSearchForm

@{
    ViewBag.SearchParam = new SelectList(
        new List<Object>{
            new { value = 0, text = "none" },
            new { value = 1, text = ">" },
            new { value = 2, text = "=" },
            new { value = 3, text = "<" }
        },
        "value",
        "text",
        2);
}

@using (Html.BeginForm("Search", "Sales", FormMethod.Post))
{
    <fieldset>
        <legend>Search Sales</legend>

        <div class="editor-label">
            @Html.LabelFor(model=> model.Product)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model=> model.Product)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model=> model.Customer)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model=> model.Customer)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model=> model.Manager)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model=> model.Manager)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model=> model.SaleDate)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model=>model.SearchDateType, (SelectList) ViewBag.SearchParam)
            @Html.EditorFor(model=> model.SaleDate)
        </div>       

        <input type="submit" value="Search" /> | @Html.ActionLink("Back to List", "Index")
    </fieldset>
}