@model MvcSalesSystem.Models.EditSalesItem
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<h2>Create</h2>

@using (Html.BeginForm("Save", "Sales", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <fieldset id="modelForm">
        <legend>EditSalesItem</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Customer)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model=>model.Customer,ViewBag.Customers as SelectList)
            @Html.ValidationMessageFor(model => model.Customer)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Manager)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model=>model.Manager,(SelectList) ViewBag.Manager)
            @Html.ValidationMessageFor(model => model.Manager)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SaleDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SaleDate)
            @Html.ValidationMessageFor(model => model.SaleDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Product)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model=>model.Product,(SelectList) ViewBag.Producte)
            @Html.ValidationMessageFor(model => model.Product)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SaleSum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SaleSum)
            @Html.ValidationMessageFor(model => model.SaleSum)
        </div>
        
    </fieldset>
    <p>
        <input type="button" id ="ProducteFill" />
    </p>
    <p>
        <input type="submit" value="Create" />
    </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
